asgiref==3.7.2
certifi==2024.2.2
charset-normalizer==3.3.2
Django==5.0.2
django-cors-headers==4.3.1
django-stubs==4.2.7
django-stubs-ext==4.2.7
djangorestframework==3.14.0
djangorestframework-stubs==3.14.5
idna==3.6
psycopg2-binary==2.9.9
python-dotenv==1.0.1
pytz==2024.1
requests==2.31.0
sqlparse==0.4.4
tomli==2.0.1
types-pytz==2024.1.0.20240203
types-PyYAML==6.0.12.12
types-requests==2.31.0.20240125
typing_extensions==4.9.0
urllib3==2.2.0
